<div class="container mt-4">
    <h1 class="text-center mb-4">Kurlar</h1>
    
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Kod</th>
          <th scope="col">Kur</th>
          <th scope="col">Forex Alış</th>
          <th scope="col">Forex Satış</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currency of currencies">
          <td>{{ currency.code }}</td>
          <td>{{ currency.currencyName }}</td>
          <td>{{ currency.forexBuying }}</td>
          <td>{{ currency.forexSelling }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  